html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  background-color: transparent;
}

body {
font-family: 'Open Sans', sans-serif;
}

h1 {
font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 48px;
  text-align: center;
}

h2 {
font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 36px;
}

h4 {
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 28px;
}

.clear {
  clear: both;
}

.content {
  width: 1000px;
  margin: auto;
    visibility: hidden;

}

.section {
  display: block;
  padding: 120px 0px;
}

.section p.line {
  display: block;
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;

}

.section p.paragraph {
  font-size: 16px;
  line-height: 32px;
  margin-top: 20px;
  width: 480px;

}

.section h4 {
  margin-top: 20px;
  margin-bottom: 80px;
}

.section#header {
  background: url(iphone.png) no-repeat center bottom #f1c40f;
  background-position: center 200px;
  color: #ffffff;
  padding: 130px 0px 620px;

}

.section#header h1 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 54px;
}

.section#header h1 span {
  color: #000;
  display: block;
  font-size: 28px;
  letter-spacing: 0px;
  line-height: 32px;
}

.section#header a {
  background: #000;
  color: #ffffff;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
  margin: auto;
  margin-top: 20px;
  padding: 8px 0px 7px 0px;
  text-align: center;
  text-transform: uppercase;
  width: 186px;
}

.section.white {
  background: #ffffff;
  color: #2f3238;
}

.section.white p {
  color: #777777;
}

.section.white h4 {
  color: #777777;
}

.section.white a#download {
  background: #f1c40f;
  color: #ffffff;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 60px;
  padding: 9px 0px 8px 0px;
  text-align: center;
  text-transform: uppercase;
}

.section.white .screenshot {
  float: left;
  width: 460px;
}

.section.white .concept {
  float: left;
  padding: 0px 0px 0px 0px;
  width: 440px;
}

.section.white .mode {
  float: left;
  min-height: 10px;
  width: 280px;
  text-align: center;
    visibility: hidden;

}

.section.white .mode h2 {
  margin-top: 40px;
}

.section.white .mode p.paragraph {
  font-size: 16px;
  line-height: 32px;
  margin: 20px 0px;
  width: 280px;
}

.section.white .mode.middle {
  margin: 0px 80px;
}

.section.white ul {
  margin: auto;
  width: 422px;
}

.section.white ul li {
  float: left;
  margin: 0px 7px;
}

.section.white ul li a {
  color: #777777;
  font-size: 18px;
  text-decoration: none;
}

.section.white ul li a:hover {
  color: #2f3238
}

.section.white p.copyright {
  color: #b8b9bc;
  display: block;
  margin-top: 32px;
  margin-bottom: 80px;
  text-align: center;
}

.section.white #onewave {
  margin: auto; 
  text-align: center;
  width: 120px; 
    visibility: hidden;

}

.section.blue {
  background: url(fconnect.png) no-repeat center bottom #2ecc71;
  background-position: center 280px;
  color: #ffffff;
  padding: 120px 0px 260px;
}

.section.blue p {
  color: #e8f2fb;
}

.section.red {
  background: url(prints2.png) no-repeat center bottom #3498db;
  color: #ffffff;
  padding: 120px 0px 300px 0px;
}

.section.red p {
  color: #f1dada;
}

.section.yellow {
  background: #fec956;
  color: #ffffff;
}

.section.purple {
  background: #b388dd;
  color: #ffffff;
}


/* ==========================================================================
   9. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {

    blockquote {
        margin-left: 0;
    }

    .section#header {
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        height: auto;
        min-height: 240px;
        padding: 15% 0;
        width: 100%;
    }
.section.blue {
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        height: auto;
        min-height: 240px;
        padding: 15% 0;
        width: 100%;
    }
    .section.yellow {
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        height: auto;
        min-height: 240px;
        padding: 15% 0;
        width: 100%;
    }
    .section.purple {
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        height: auto;
        min-height: 240px;
        padding: 15% 0;
        width: 100%;
    }
    .concept {
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        height: auto;
        min-height: 240px;
        padding: 15% 0;
        float: left;
        width: 100%;
    }
    .blog-title {
        font-size: 4rem;
        letter-spacing: -1px;
    }

    .blog-description {
        font-size: 1.7rem;
        line-height: 1.5em;
    }

    .content {
        font-size: 0.9em;
        line-height: 1.6em;
    }

    .post-template .post {
        padding-bottom: 1rem;
    }

    .post-template .post-header {
        padding: 40px 0;
    }

    h1 {
        font-size: 4.8rem;
        text-indent: -2px;
    }

    h2 {
        font-size: 3.8rem;
    }

    h3 {
        font-size: 3.3rem;
    }

    h4 {
        font-size: 2.8rem;
    }

}

/* ==========================================================================
   10. Media Queries - Smaller than 500px
   ========================================================================== */


@media only screen and (max-width: 500px) {

    .blog-logo img {
        max-height: 80px;
    }

    .inner, 
    .pagination {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
    }

    .content {
        width:auto;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 0.8em;
        line-height: 1.6em;
    }

    .site-head {
        padding: 10% 0;
    }

    .blog-title {
        font-size: 3rem;
    }

    .blog-description {
        font-size: 1.5rem;
    }


    h1, h2 {
        font-size: 3rem;
        line-height: 1.1em;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 2.8rem;
    }

    h4 {
        font-size: 2.3rem;
    }

    .post-template .post {
        padding-bottom: 0;
    }

    .post-template .post-header {
        padding: 30px 0;
    }

    .post-meta {
        font-size: 1.3rem;
    }

    .post-footer {
        padding: 4rem 0;
        text-align: center;
    }

    .author{
        width: 100%;
    }
    .authormirror{
        display: none;
    }
    .post-footer .share {
        position: static;
        width: auto;
    }

    .post-footer .share a {
        margin: 1.4rem 0.8rem 0 0.8rem;

    }

    .older-posts,
    .newer-posts {
        position: static;
        margin: 10px 0;
    }

    .page-number {
        display: block;
    }

    .site-footer {
        margin-top: 6rem;
        font-size: 1.1rem;
    }

}

/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */